* {
    margin: 0;
    padding: 0;
}

html {

    background-image: url(../images/gaming_pc_headline_pcs.jpg);
    
    background-repeat: no-repeat;
    
    background-position: center center;
    
    background-attachment: fixed;
    
    -webkit-background-size: cover;
    
    -moz-background-size: cover;
    
    -o-background-size: cover;
    
    background-size: cover;
    
}
.wrapper {
    min-height: calc(100vh - 30px);
    margin-bottom: 30px;
    position: relative;
}

body {
    margin: 0px;
}
.logo{
    height: 30px;
    border-radius: 30px 0;
}
.bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;    
    background-color: rgb(49, 49, 49);
    height: 40px;
    text-align: right;
    border-radius: 20px 0;
}
ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

.li1 {
    padding: 13px;
    color: white;
    font-size: 15px;
}
.foto {
    padding: 0px;
    height: 400px;
}
.note {
    background-color: rgb(26, 26, 26);
    
}
.text {
    color: white;
    margin: 0px;
    font-size: 20px;  
    padding: 0px;  
}
.footer {
    margin: 0px;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
    height: 20px;
    color: white;
}
.divider {
    bottom: 5px;
    margin: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}
.container{
    margin-top: 0;
    background-color: rgb(68, 68, 68);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
h2{
    color: white;
}
a{
    text-decoration: dashed;
    text-decoration-color: white; 
    
}
.maps{
    color: rgb(214, 214, 214);
    font-size: 20px; 
}

.column{
    display: block;
    position:relative;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: rgb(214, 214, 214);
    font-size: 18px;
    line-height: 1.5;
}