body{
    padding: 0;
    border: 2px solid black;
}
header,nav,footer{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
header {
    background-color: aqua;
}
nav{
    background-color: blue;
}
.main{
    margin: 5px;
    display: flex;
    min-height: calc(100vh - 450px);
    gap: 20px;
    
}
.d1 .d2 {
    flex-direction: column;
}
.d1, .d2, .d3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.d1 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin-bottom: 20px;
}
.d2 {
    width: 200px;
    height: 200px;
    background-color: rgb(43, 207, 43);
}
.d3 {
    height: 100px;
    width: 100px;
    background-color: brown;
}

footer{
    bottom: 0;
    background-color: grey;
}