html {

    background-image: url(../images/gaming_pc_headline_pcs.jpg);
    
    background-repeat: no-repeat;
    
    background-position: center center;
    
    background-attachment: fixed;
    
    -webkit-background-size: cover;
    
    -moz-background-size: cover;
    
    -o-background-size: cover;
    
    background-size: cover;
    
    }
body {
    margin: 0px;
}
.logo{
    height: 30px;
    border-radius: 30px;
}
.bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;    
    background-color: rgb(49, 49, 49);
    height: 40px;
    text-align: right;
    border-radius: 20px 0;
}
ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

.li1 {
    padding: 13px;
    color: white;
    font-size: 15px;
}
.foto {
    padding: 0px;
    height: 400px;
}
.note {
    background-color: rgb(26, 26, 26);
    
}
.text {
    color: white;
    margin: 0px;
    font-size: 20px;  
    padding: 0px;  
}
.mission{
    display: flex;
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid rgb(155, 155, 155);
}
.main{
   /* min-height: max-content; */
   color: white;
   font-size: 18px;
   line-height: 1.5;
}
.ma{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.ma1{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.ma2{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
h2{
    text-align: center;
}
.block{
    background-image: url(../images/features-rtx4060ti.jpg);
    position: relative;
    display: flex;
    width: 1020px;
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-end;
    border-radius: 20px 0 0 20px;
    align-items: center;
    
}
.block_1{
    background-image: url(../images/features-ryzen.jpg);
    position: relative;
    display: grid;
    grid-template-rows: 100px 100px;
    width: 1020px;
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-end;
    border-radius: 20px 0 0 20px;
    align-items: center;
}


.block_2{
    background-image: url(../images/InfinityA57T_header.jpg);
    position: relative;
    display: block;
    width: 1020px;
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-start;
    border-radius: 0 20px 20px 0;
    padding-left: 20px;
}