html {

    background-image: url(../images/gaming_pc_headline_pcs.jpg);
    
    background-repeat: no-repeat;
    
    background-position: center center;
    
    background-attachment: fixed;
    
    -webkit-background-size: cover;
    
    -moz-background-size: cover;
    
    -o-background-size: cover;
    
    background-size: cover;
    
    }
body {
    margin: 0px;
}
.bg {
    margin: 4px;    
    background-color: rgb(49, 49, 49);
    height: 30px;
    text-align: right;
    border-radius: 40px 0;
}
.ul {
    margin: 2px;
}
.li1 {
    display: inline-block;
    padding: 13px;
    color: white;
    font-size: 15px;
    position: relative;
    top: -9px;
}
.foto {
    padding: 0px;
    height: 400px;
}
.note {
    background-color: rgb(26, 26, 26);
    
}
.text {
    color: white;
    margin: 0px;
    font-size: 20px;  
    padding: 0px;  
}
